body
{
    margin:0px;
    background-image: url(img/bg.png);
    font-family: sans-serif;
}

header
{
    background-color: #aaeeff;
    color: #000;
    text-align:center;
}

h1, h2, h3
{
    font-family:Ubuntu, Arial, sans-serif;
}

hr
{
    border: 0px;
    padding:1em;
}

ul
{
    text-align:left;
    font-size:18px;
    font-weight:bold;
}

ul p
{
    font-weight:normal;
    font-style: italic;
}

#logo
{
    margin-top:1em;
    max-width: 50vw;
    max-height: 100px;
}

#subtitle
{
    margin:1em;
    font-size: 16px;
    font-family:sans-serif;
}

.menuwrapper
{
    background-color: #9ce0f1;
}

menu
{
    margin: 0px auto;
    max-width:800px;
    font-family: Ubuntu, Arial, sans-serif;
    font-weight:bold;
    font-size: 16px;
    padding: 0.5em;
    text-decoration: none;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.menurow
{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

h1
{
    text-align:center;
    margin:0px;
    padding:1em;
}

menu:nth-child(2)
{
    min-width:40%;
}

menu a
{
    text-decoration: none;
    color: #000;
    padding:0.5em;
}

menu a:hover
{
    text-shadow: rgba(0,0,0, 0.2) 1px 1px 1px;
}

menu a:visited
{
    color:inherit;
}

.active
{
    border-radius: 5px 5px;
    box-shadow: rgba(0,0,0,0.5) 0px 0px 4px;
}

#mainwrapper
{
    background-color:#fff;
}

main
{
    padding:1em;
    padding-top:0em;
    max-width:1000px;
    margin:auto;
}

main img
{
    max-width:100%;
}

footer
{
    background-color:#b8dee8;
    text-align:center;
    padding:2em;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

footer a
{
    margin:1em;
}

.person
{
    font-weight:bold;
    font-family:serif;
    font-size:1.1em;
}

.yoshimi
{
    color:#8c224c;
    font-weight:bold;
    font-family:serif;
    font-size:1.1em;
}

.zyn
{
    color:#1d683b;
    font-weight:bold;
    font-family:serif;
    /* 
      More capital letters in zyn, make
      it slightly smaller to compensate
    */
    font-size:1.05em;
}

.center-padded
{
    text-align:center;
}

.center-padded a
{
    padding: 0px 20px;
    white-space:nowrap;
}

.linktable
{
    margin:auto;
    border-spacing:0px;
}

.linktable td
{
    padding:14px;
    text-align:right
}

.linktable td:nth-child(2)
{
    text-align:left;
}

.linktable tr:nth-child(2n)
{
    background-color: #f2f2f2;
}

iframe, embed
{
    width:100%;
    border: 0px;
}

.demos h2
{
    margin-top:40px;
}

.screenshots
{
    text-align:center;
}
.screenshots img
{
    box-shadow:rgba(0,0,0,0.4) -3px 3px 6px;
    margin-bottom:10px;
    margin-top:20px;
}

.history p
{
    font-size:20px;
    margin: 1.5em 0em;
}

.history .person
{
    font-size:1em;
}